.box
    display: inline-block
    width: 95%
    padding: 0.3rem
    border: solid 0.1rem black
    border-radius: 0.2rem

    & .checkbox
        padding: 0 0.2rem
        display: inline-block

        & > input[type=checkbox]
            transform: scale(1.35)

    & .infobox
        text-align: center
