.btn
    text-decoration: none
    font-variant: none
    box-shadow: 1px 1px rgba(0, 0, 0, 0.2)
    padding: 0.25rem 0.75rem
    background: none
    border: solid 0.5px $secondary
    border-radius: 0.2rem
    color: black
    transition: color 150ms, background-color 150ms, border 150ms
    &:hover
        cursor: pointer
        background-color: $secondary - 35
        color: white

    &-primary
        border: solid 0.5px $primary
        background-color: $primary
        color: white
        &:hover
            cursor: pointer
            background-color: $primary - 35
            color: white

    &-danger
        border: solid 0.5px $danger
        background-color: $danger
        color: white
        &:hover
            cursor: pointer
            background-color: $danger - 35
            color: white

    &-third
        border: solid 0.5px $third
        background-color: $third
        color: $secondary - 35
        &:hover
            cursor: pointer
            background-color: $third - 35
            border: solid 0.5px $third - 35
            color: $secondary + 125