form
    .form-label
        font-size: 1.2rem
        color: black + 25

    .form-input
        text-decoration: none
        padding: 0.5rem
        border: solid 0.5px black + 150
        border-radius: 0.2rem
        width: 100%
        &.is-25
            width: 25%
        &.is-50
            width: 50%
        &.is-75
            width: 75%
        &.is-auto
            width: auto
