.grid-container
    display: grid
    width: 100%
    grid-template-columns: 50% 50%
    grid-template-rows: 100%

.grid-item
    // grid-auto-columns: auto
    // grid-row: 1
    &-1
        grid-column: 1 / 2
        grid-row: 1
    &-2
        grid-column: 2 / 2
        grid-row: 1
        
.grid-container-4
    display: grid
    grid-gap: 0.5rem
    grid-template-columns: auto auto auto auto
    grid-template-rows: auto
    padding: 0.75rem

.grid-item-4
    grid-auto-columns: auto
    grid-auto-rows: auto
    // &-1
    //     grid-column: 1 / 2
    //     grid-row: 1
    // &-2
    //     grid-column: 2 / 2
    //     grid-row: 1

@media screen and (max-width: 720px)
    .grid-container-4
        display: grid
        grid-gap: 0.5rem
        grid-template-columns: auto auto
        grid-template-rows: auto
        padding: 0.5rem

@media screen and (max-width: 460px)
    .grid-container-4
        display: grid
        grid-gap: 0.5rem
        grid-template-columns: auto 
        grid-template-rows: auto
        padding: 0.3rem
