$one: 0.75rem
$two: 1.25rem
$three: 1.75rem
$four: 2.25rem
$five: 2.75rem
    
.m
    &-1
        margin: $one
    &-2
        margin: $two
    &-3
        margin: $three
    &-4
        margin: $four
    &-5
        margin: $five
    
    &t
        &-1
            margin-top: $one
        &-2
            margin-top: $two
        &-3
            margin-top: $three
        &-4
            margin-top: $four
        &-5
            margin-top: $five

    &b
        &-1
            margin-bottom: $one
        &-2
            margin-bottom: $two
        &-3
            margin-bottom: $three
        &-4
            margin-bottom: $four
        &-5
            margin-bottom: $five
     
    &l
        &-1
            margin-left: $one
        &-2
            margin-left: $two
        &-3
            margin-left: $three
        &-4
            margin-left: $four
        &-5
            margin-left: $five

    &r
        &-1
            margin-right: $one
        &-2
            margin-right: $two
        &-3
            margin-right: $three
        &-4
            margin-right: $four
        &-5
            margin-right: $five

.p
    &-1
        padding: $one
    &-2
        padding: $two
    &-3
        padding: $three
    &-4
        padding: $four
    &-5
        padding: $five
    
    &t
        &-1
            padding-top: $one
        &-2
            padding-top: $two
        &-3
            padding-top: $three
        &-4
            padding-top: $four
        &-5
            padding-top: $five

    &b
        &-1
            padding-bottom: $one
        &-2
            padding-bottom: $two
        &-3
            padding-bottom: $three
        &-4
            padding-bottom: $four
        &-5
            padding-bottom: $five
     
    &l
        &-1
            padding-left: $one
        &-2
            padding-left: $two
        &-3
            padding-left: $three
        &-4
            padding-left: $four
        &-5
            padding-left: $five

    &r
        &-1
            padding-right: $one
        &-2
            padding-right: $two
        &-3
            padding-right: $three
        &-4
            padding-right: $four
        &-5
            padding-right: $five