* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

.title {
  padding: 0.5rem;
  font-size: 2rem;
  font-weight: 400;
}

.title-2 {
  padding: 0.5rem;
  font-size: 1.65rem;
  font-weight: 100;
}

.text-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

hr {
  margin: 1rem 1.75rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0.5rem 02rem;
}

nav .end {
  padding: 1rem;
  margin-left: auto;
}

main {
  margin: 1rem;
  padding: 1rem;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

small {
  font-size: 12px;
}

small strong {
  font-size: 12px;
}

small a {
  font-size: 12px;
}

.m-1 {
  margin: 0.75rem;
}

.m-2 {
  margin: 1.25rem;
}

.m-3 {
  margin: 1.75rem;
}

.m-4 {
  margin: 2.25rem;
}

.m-5 {
  margin: 2.75rem;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 1.25rem;
}

.mt-3 {
  margin-top: 1.75rem;
}

.mt-4 {
  margin-top: 2.25rem;
}

.mt-5 {
  margin-top: 2.75rem;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.25rem;
}

.mb-3 {
  margin-bottom: 1.75rem;
}

.mb-4 {
  margin-bottom: 2.25rem;
}

.mb-5 {
  margin-bottom: 2.75rem;
}

.ml-1 {
  margin-left: 0.75rem;
}

.ml-2 {
  margin-left: 1.25rem;
}

.ml-3 {
  margin-left: 1.75rem;
}

.ml-4 {
  margin-left: 2.25rem;
}

.ml-5 {
  margin-left: 2.75rem;
}

.mr-1 {
  margin-right: 0.75rem;
}

.mr-2 {
  margin-right: 1.25rem;
}

.mr-3 {
  margin-right: 1.75rem;
}

.mr-4 {
  margin-right: 2.25rem;
}

.mr-5 {
  margin-right: 2.75rem;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.25rem;
}

.p-3 {
  padding: 1.75rem;
}

.p-4 {
  padding: 2.25rem;
}

.p-5 {
  padding: 2.75rem;
}

.pt-1 {
  padding-top: 0.75rem;
}

.pt-2 {
  padding-top: 1.25rem;
}

.pt-3 {
  padding-top: 1.75rem;
}

.pt-4 {
  padding-top: 2.25rem;
}

.pt-5 {
  padding-top: 2.75rem;
}

.pb-1 {
  padding-bottom: 0.75rem;
}

.pb-2 {
  padding-bottom: 1.25rem;
}

.pb-3 {
  padding-bottom: 1.75rem;
}

.pb-4 {
  padding-bottom: 2.25rem;
}

.pb-5 {
  padding-bottom: 2.75rem;
}

.pl-1 {
  padding-left: 0.75rem;
}

.pl-2 {
  padding-left: 1.25rem;
}

.pl-3 {
  padding-left: 1.75rem;
}

.pl-4 {
  padding-left: 2.25rem;
}

.pl-5 {
  padding-left: 2.75rem;
}

.pr-1 {
  padding-right: 0.75rem;
}

.pr-2 {
  padding-right: 1.25rem;
}

.pr-3 {
  padding-right: 1.75rem;
}

.pr-4 {
  padding-right: 2.25rem;
}

.pr-5 {
  padding-right: 2.75rem;
}

.btn {
  text-decoration: none;
  font-variant: none;
  -webkit-box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  padding: 0.25rem 0.75rem;
  background: none;
  border: solid 0.5px #998DA0;
  border-radius: 0.2rem;
  color: black;
  -webkit-transition: color 150ms, background-color 150ms, border 150ms;
  transition: color 150ms, background-color 150ms, border 150ms;
}

.btn:hover {
  cursor: pointer;
  background-color: #766a7d;
  color: white;
}

.btn-primary {
  border: solid 0.5px #46B1C9;
  background-color: #46B1C9;
  color: white;
}

.btn-primary:hover {
  cursor: pointer;
  background-color: #238ea6;
  color: white;
}

.btn-danger {
  border: solid 0.5px #B10F2E;
  background-color: #B10F2E;
  color: white;
}

.btn-danger:hover {
  cursor: pointer;
  background-color: #8e000b;
  color: white;
}

.btn-third {
  border: solid 0.5px #AAFAC8;
  background-color: #AAFAC8;
  color: #766a7d;
}

.btn-third:hover {
  cursor: pointer;
  background-color: #87d7a5;
  border: solid 0.5px #87d7a5;
  color: white;
}

form .form-label {
  font-size: 1.2rem;
  color: #191919;
}

form .form-input {
  text-decoration: none;
  padding: 0.5rem;
  border: solid 0.5px #969696;
  border-radius: 0.2rem;
  width: 100%;
}

form .form-input.is-25 {
  width: 25%;
}

form .form-input.is-50 {
  width: 50%;
}

form .form-input.is-75 {
  width: 75%;
}

form .form-input.is-auto {
  width: auto;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

.grid-item-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.grid-item-2 {
  -ms-grid-column: 2;
  grid-column: 2 / 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.grid-container-4 {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.5rem;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  padding: 0.75rem;
}

.grid-item-4 {
  grid-auto-columns: auto;
  grid-auto-rows: auto;
}

@media screen and (max-width: 720px) {
  .grid-container-4 {
    display: -ms-grid;
    display: grid;
    grid-gap: 0.5rem;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 460px) {
  .grid-container-4 {
    display: -ms-grid;
    display: grid;
    grid-gap: 0.5rem;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    padding: 0.3rem;
  }
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1rem;
}

.box {
  display: inline-block;
  width: 95%;
  padding: 0.3rem;
  border: solid 0.1rem black;
  border-radius: 0.2rem;
}

.box .checkbox {
  padding: 0 0.2rem;
  display: inline-block;
}

.box .checkbox > input[type=checkbox] {
  -webkit-transform: scale(1.35);
          transform: scale(1.35);
}

.box .infobox {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */