$primary: #46B1C9
$secondary: #998DA0
$danger: #B10F2E
$third: #AAFAC8
$warning: #F28F3B

*
    margin: 0
    padding: 0
    box-sizing: 0
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    font-size: 16px

.title
    padding: 0.5rem
    font-size: 2rem
    font-weight: 400
    &-2
        padding: 0.5rem
        font-size: 1.65rem
        font-weight: 100

.text
    &-center
        display: flex
        justify-content: center
        align-content: center

hr
    margin: 1rem 1.75rem

nav
    display: flex
    align-content: center
    padding: 0.5rem 02rem

    .end
        padding: 1rem
        margin-left: auto

main
    margin: 1rem
    padding: 1rem

footer
    position: relative
    bottom: 0
    width: 100%

small
    font-size: 12px

    & strong
        font-size: 12px

    & a
        font-size: 12px


@import ./marped
@import ./button
@import ./form
@import ./grid
@import ./headers
@import ./box